<a href="https://colab.research.google.com/github/bharadwaj-narayanam/Zomato-restaurant-clustering/blob/main/ZOMATO_RESTAURANT_CLUSTERING_AND_SENTIMENT_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Problem Statement**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Zomato is an Indian restaurant aggregator and food delivery start-up founded by Deepinder Goyal and Pankaj Chaddah in 2008. Zomato provides information, menus and user-reviews of restaurants, and also has food delivery options from partner restaurants in select cities.

India is quite famous for its diverse multi cuisine available in a large number of restaurants and hotel resorts, which is reminiscent of unity in diversity. Restaurant business in India is always evolving. More Indians are warming up to the idea of eating restaurant food whether by dining outside or getting food delivered. The growing number of restaurants in every state of India has been a motivation to inspect the data to get some insights, interesting facts and figures about the Indian food industry in each city. So, this project focuses on analysing the Zomato restaurant data for each city in India.

The Project focuses on Customers and Company, you have  to analyze the sentiments of the reviews given by the customer in the data and made some useful conclusion in the form of Visualizations. Also, cluster the zomato restaurants into different segments. The data is vizualized as it becomes easy to analyse data at instant. The Analysis also solve some of the business cases that can directly help the customers finding the Best restaurant in their locality and for the company to grow up and work on the fields they are currently lagging in.

This could help in clustering the restaurants into segments. Also the data has valuable information around cuisine and costing which can be used in cost vs. benefit analysis

Data could be used for sentiment analysis. Also the metadata of reviewers can be used for identifying the critics in the industry.

# **Attribute Information**

## **Zomato Restaurant names and Metadata**
Use this dataset for clustering part

1. Name : Name of Restaurants

2. Links : URL Links of Restaurants

3. Cost : Per person estimated Cost of dining

4. Collection : Tagging of Restaurants w.r.t. Zomato categories

5. Cuisines : Cuisines served by Restaurants

6. Timings : Restaurant Timings

## **Zomato Restaurant reviews**
Merge this dataset with Names and Matadata and then use for sentiment analysis part

1. Restaurant : Name of the Restaurant

2. Reviewer : Name of the Reviewer

3. Review : Review Text

4. Rating : Rating Provided by Reviewer

5. MetaData : Reviewer Metadata - No. of Reviews and followers

6. Time: Date and Time of Review

7. Pictures : No. of pictures posted with review

In [2]:
import pandas as pd
import numpy as np

In [3]:
meta_data = pd.read_csv("/content/drive/MyDrive/Almabetter Data/ML_PROJECT2/Zomato Restaurant names and Metadata.csv")

In [4]:
review_data = pd.read_csv("/content/drive/MyDrive/Almabetter Data/ML_PROJECT2/Zomato Restaurant reviews.csv")

In [5]:
meta_data['Name'].nunique()

105

In [6]:
review_data

            Restaurant              Reviewer  ...             Time Pictures
0      Beyond Flavours     Rusha Chakraborty  ...  5/25/2019 15:54        0
1      Beyond Flavours  Anusha Tirumalaneedi  ...  5/25/2019 14:20        0
2      Beyond Flavours       Ashok Shekhawat  ...  5/24/2019 22:54        0
3      Beyond Flavours        Swapnil Sarkar  ...  5/24/2019 22:11        0
4      Beyond Flavours                Dileep  ...  5/24/2019 21:37        0
...                ...                   ...  ...              ...      ...
9995  Chinese Pavilion      Abhishek Mahajan  ...    6/5/2016 0:08        0
9996  Chinese Pavilion        Sharad Agrawal  ...   6/4/2016 22:01        0
9997  Chinese Pavilion             Ramandeep  ...   6/3/2016 10:37        3
9998  Chinese Pavilion       Nayana Shanbhag  ...  5/31/2016 17:22        0
9999  Chinese Pavilion      Bhargava Krishna  ...  5/31/2016 16:41        6

[10000 rows x 7 columns]